Package: audio-leveler-pro
Version: 1.1.4
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-gi, gir1.2-gtk-4.0, gir1.2-adw-1, mp3gain
Maintainer: Tavo78ok
Description: Nivelador de audio profesional con mpegain.
 Ahora permite analizar el volumen actual antes de procesar y conserva 
 todas las carátulas y metadatos de los archivos originales.


